
html{
	top:0;
	height: 100%;
	text-align:center;
	margin:0 auto;
	padding:0;
        background: url(../images/bg.png) no-repeat center center #fff;
	overflow:scroll;
}

body {
	top:0;
	height: 100%;
	width:100%;
	margin: 0 auto;
	padding:0;
	text-align:left; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:1.5em;
}

.tituloTabla {
    background-color : #A52A2A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}


.subtitulocolum{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.titulocolum{
    background-color : #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}


.tituloTab{
    background-color : #A52A2A;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: bold;
}

.tituloFila2 {
    background-color : #E6E6E6;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-family: Arial;
    font-size: 10px;
    color: #000000;
}

.tituloTabla3 {
	background-color: #E0E0E0;
	/*	font-family: Arial, Helvetica;font-size: 11px;color:#000000;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.tituloTabla2 {
	background-color: #3DA95B;
	/*	font-family: Arial, Helvetica;font-size: 11px;color:#000000;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

a:link{ color: #8A0808; font-weight:bold }

a:visited{ color: #AD660C; }

a:hover, a:focus{ color: #A30001;	text-decoration:none; }

p{	margin:1em 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p{	margin-top:-0.05em;}

h1, h2, h3, h4, h5, h6{ color: #8A0808; margin-bottom:0.5em; }

h1{ font-size:24px;}

h2{	font-size:20px;}

h3{	font-size:18px;}

h4{	font-size:16px;}

h5{	font-size:14px;}

h6{	font-size:12px;}

ol, ul{	margin: 1em 0 1em 2em; }

ol ol, ol ul, ul ol, ul ul{ margin-top:0; margin-bottom:0; }

ol li{	list-style:decimal }
ol li ol li{ list-style:upper-alpha; }
ol li ol li ol li{ list-style:upper-roman; }

ul li{ list-style:disc;}

em{font-style:italic;}

strong{font-weight:bold;}

em strong, strong em{ font-weight:bold; font-style:italic; }

#container {
	display:block;
	position: absolute;
	padding:0;
	width:100%;	
	background:#fff;
	top:150px;
	border:solid #8A0808;
	border-width:3px 0 3px 0;
	
	opacity: 0.90;
	-moz-opacity: 0.98;
	filter: alpha(opacity=0);
}


#logo{
	display:block;
	position: absolute;
	width:186px;
	height:32px;
	background: url(../images/logo.gif) no-repeat 0 0;
	left:160px;	
	top:15px;
	overflow:hidden;
	text-indent:999em;
	line-height:999em;
}

#content{
	position:relative;
	display:block;
	width: 60%;
	left:450px;
	margin:0 0 0 -50px;
	padding:15px 0;
	top:10px;
}

#contentLog{
	position:relative;
	display:block;
	width: 60%;	
	padding:15px 0;
	top:10px;
        left:20%;

}

#footer {
	position: absolute;
	bottom: 0;
	margin:0;
	width:100%;
	text-align:center;
	left:0;
}


/* ERROR */
.Error{
    font-size:13px;
    margin-bottom:10px;
    text-align:center;
    font-weight:bold;
    color:#CC0000;
    position:relative;
    top:380px;

}

/* FORMULARIO LOGIN*/
.loginTab {

    width: 543px;
    height: 288px;
    background: url(../../images/login.png);
    z-index:0;
}
.loginTab td {
    text-align: center;

}

#login_icon {
    position: absolute;
    top: 486px;
    left: 570px;
    width: 587px;
    height: 310px;
    background: url(../../images/login.png);
    z-index:0;
}
