/* ------------------
 styling for the tables 
   ------------------   */


body
{
    line-height: 1.6em;
}
#gradient-style
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    font-weight: normal;
    margin: 45px;
    width: 580px;
    text-align: left;
    border-collapse: collapse;
}
#gradient-style th
{
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    background: #b9c9fe url('table-images/gradhead.png') repeat-x;
    border-top: 2px solid #464B46;
    border-bottom: 1px solid #464B46;
    color: #464B46;
}
#gradient-style td
{
    padding: 8px;
    border-bottom: 1px solid #686A68;
    color: #2B2C2B;
    border-top: 1px solid #686A68;
    background: #e8edff url('table-images/gradback.png') repeat-x;
}

#gradient-style tfoot tr td
{
    background: #e8edff;
    font-size: 12px;
    color: #4E1212;
}
#gradient-style tbody tr:hover td
{
    background: #d0dafd url('table-images/gradhover.png') repeat-x;
    color: #171817;
}


/* ESPECÍFICOS DE LA PAGINA */

body{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #555;
}

a:hover{
    color: #000;
}

div.main{
    margin: auto;
    text-align: left;
    width: 720px;
}

div.clean{
    border: 1px solid #850000;
}

.clean td, .clean th{
    border: 2px solid #bbb;
    background: #ddd;
    padding: 5px 10px;
    text-align: center;
    border-radius: 2px;
}

.clean table{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.clean caption{
    font-weight: bold;

}

.gvChart,.clean{
    border: 2px solid #850000;
    border-radius: 5px;
    -moz-border-radius: 10px;
    width: 720px;

    margin: auto;
    margin-top: 20px;
}

pre{
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.A1:hover {color: #ACD41C}